<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playlistfy</title>
        <meta charset="utf-8">
        <meta name="description"
              content="Creates spotify playlists spelling out your sentence">
        <meta name="keywords" content="Spotify,Playlist,Playlistfy">
        <link rel="stylesheet" href="../static/css/tailwind.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                crossorigin="anonymous"
                async></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
              rel="stylesheet">
        <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
        <script type="text/javascript" src="static/index.js" defer></script>
    </head>
    <body class="max-h-screen">
        <div class="container mx-auto p-16">
            <div class="max-w-md overflow-hidden md:max-w-full md:flex my-16">
                <div class="w-full p-4">
                    <div class="flex flex-col justify-around items-center">
                        <img src="static/trade-offer-guy.png"
                             alt="trade-offer-meme-guy"
                             class="w-64 h-64 block"
                             width="128"
                             height="128">
                        <hgroup class="flex flex-row justify-around w-full">
                            <h1 class="text-6xl mb-2 inline-block text-center">i receive:<br>sentence</h1>
                            <h1 class="text-6xl mb-2 inline-block text-center">you receive:<br>playlist</h1>
                        </hgroup>
                    </div>
                    <form id="sentence-form" action={{ "/playlist" if is_authenticated else "/login" }} method={{ 'post' if is_authenticated else 'get' }} class="pt-2">
                        <div class="mb-4">
                            <input type="text"
                                   name="sentence"
                                   id="text_field"
                                   class="input input-bordered w-full py-2 px-3 mb-4 pixel-button"
                                   placeholder="Enter a sentence">
                        </div>
                        <div>
                            <button type="submit"
                                    class="btn btn-primary rounded-lg pixel-button text-2xl">
                                {% if is_authenticated %}
                                    Submit
                                {% else %}
                                    Log in with Spotify
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
                <div id="embed-iframe"></div>
            </div>
        </div>
    </body>
</html>
